apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-config
  namespace: event-sourcing
data:
  KAFKA_NODE_ID: "1"
  KAFKA_PROCESS_ROLES: "broker,controller"
  KAFKA_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093"
  KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
  KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: event-sourcing
spec:
  selector:
    app: kafka
  ports:
    - port: 9092
      targetPort: 9092
      name: broker
    - port: 9093
      targetPort: 9093
      name: controller
  clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  namespace: event-sourcing
spec:
  serviceName: kafka
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
      - name: kafka
        image: apache/kafka:4.1.1
        ports:
        - containerPort: 9092
          name: broker
        - containerPort: 9093
          name: controller
        envFrom:
        - configMapRef:
            name: kafka-config
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
